# Load employee course list

In [18]:
# Import links namespace
%run ./links.ipynb

import pandas as pd
import requests

In [32]:
link_to_emp_courses = links_ns.course.position+'6'
emp_courses = requests.get(link_to_emp_courses).json()
df = pd.json_normalize(emp_courses)
select_cols = ["courseId","training.name","training.school","startDate","training.duration","status"]
df = df[select_cols]
rename_cols = ["id","name","school","startDate","duration","status"]
df.columns = rename_cols

In [33]:
df

,id,name,school,startDate,duration,status
0,6,Data Analysis with Power BI,Stats4Decision,2023-01-09,5,FINISHED
1,11,Public Transport Fundamentals,UITP,2023-10-21,10,IN_PROGRESS