# Load employee tasks

In [71]:
# Import links namespace
%run ./links.ipynb

In [72]:
import pandas as pd
import requests

In [73]:
link_to_emp_tasks = links_ns.taskrole.position+'6'
emp_tasks = requests.get(link_to_emp_tasks).json()

df = pd.json_normalize(emp_tasks)
select_cols = ["task.taskId","task.name","task.code","role","task.startDate","task.endDate","task.status"]
df = df[select_cols]
rename_cols = ["id","name","code","role","startDate","endDate","status"]

df.columns = rename_cols

In [74]:
df

,id,name,code,role,startDate,endDate,status
0,4,Application de suivi-évaluation des activités ...,A-01-23,ACCOUNTABLE,2023-01-02,2023-05-31,IN_PROGRESS
1,8,Prototypage de l'application,A-03-23,RESPONSABLE,2023-01-03,2023-02-22,FINISHED
2,9,Design des bases de données de l'application,A-04-23,RESPONSABLE,2023-03-20,2023-03-24,IN_PROGRESS
3,10,Mise en production,A-04-23,RESPONSABLE,2023-04-07,2023-04-15,SCHEDULED