In [3]:
import requests
import numpy as np
import pandas as pd
%run ../employee/links.ipynb

In [50]:
req = requests.get(links_ns.position.all).json() # Risk of empty list
position = pd.json_normalize(req)

In [53]:
select_col = ["positionId","status","employee.employeeId",
              "subdivision.code",'service.subdivision.code',
              'service.serviceId','service.shortName',
              'service.subdivision.subdivisionId','service.subdivision.shortName',
              'service.subdivision.direction.subdivisionId','service.subdivision.direction.shortName',
              'subdivision.subdivisionId','subdivision.shortName',
              'subdivision.direction.subdivisionId','subdivision.direction.shortName']
select_col = ["positionId","employee.employeeId",
              "subdivision.code",'service.subdivision.code']
rename_col = ["positionId","status","employeeid",
              "code","service.sdcode",
              "serviceId","serviceSn",
              "serviceSubId","serviceSubSn",
              "serviceSubdivId","serviceSubdivSn",
              "subdivId","subdivSn",
              "subdivDirId","subdivDirSn"]
rename_col = ["positionId","employeeId",
              "codeA","codeB"]
position_df = position[select_col].copy()
position_df.columns = rename_col
position_df["direction"] = position_df.codeA.fillna(position_df.codeB)
position_df.drop(columns=["codeA","codeB"], inplace=True)
position_df.direction = position_df.direction.map(lambda x: x.split("_")[1])
position_df.head()

   positionId  employeeId direction
0           1           1       DSI
1           2           2       DCP
2           3           3      DRRN
3           4           4     DCSTI
4           5           5       DSP

In [54]:
df = position_df.copy()
# Create an empty dictionary to store the employee IDs for each direction
employee_ids_by_direction = {}

# Loop through each unique direction in the DataFrame
for direction in df['direction'].unique():
    # Filter the DataFrame to only include rows with the current direction
    direction_df = df[df['direction'] == direction]
    # Get the employee IDs for the current direction
    employee_ids = direction_df['employeeId'].tolist()
    # Add the employee IDs to the dictionary, with the direction as the key
    employee_ids_by_direction[direction] = employee_ids

# Print the resulting dictionary
print(employee_ids_by_direction)

{'DSI': [1], 'DCP': [2, 26], 'DRRN': [3, 14, 18, 19], 'DCSTI': [4, 9], 'DSP': [5], 'DSE': [6, 10, 6], 'DMGP': [7, 8, 11, 13, 15, 16, 17, 20, 22, 25, 27], 'DGPECRP': [12, 28], 'PR': [21], 'DG': [23], 'DSESP': [24]}