In [1]:
import json
import types
import requests

In [2]:
class Namespace:
    def __init__(self, adict):
        self.__dict__.update(adict)

In [3]:
base_link = "http://localhost:8080/api/v1/"
#base_link = "http://192.168.0.218:8080/api/v1/"

In [4]:
links = {
    "position":Namespace({
        "all":"position/all",
        "all_active":"position/all/active",
        "single":"position/"
    }),
    "employee":Namespace({
        "all":"employee/all",
        "single":"employee/"
    }),
    "task":Namespace({
        "all":"task/all",
        "single":"task/"
    }),
    "taskrole":Namespace({
        "all":"taskrole/all",
        "single":"taskrole/",
        "position":"taskrole/position/"#{p}
    }),
    "logbook":Namespace({
        "all":"logbook/all",
        "range":"logbook/range/", #{s}/{e}
        "prange":"logbook/range/",#{p}/{s}/{e}
        "single":"logbook/"
    }),
    "absence":Namespace({
        "all":"absence/all",
        "prange":"absence/range/",#{p}
        "single":"absence/"
    }),
    "evaluation":Namespace({
        "all":"evaluation/all",
        "single":"evaluation/",
        "position":"evaluation/position/",#{p}
    }),
    "course":Namespace({
        "all":"course/all",
        "single":"course/",
        "position":"course/position/",#{p}
    })
};links_ns = Namespace(links)

In [5]:
def get_direction_name(p):
    p = Namespace(p)
    if p.service is not None:
        subdiv = p.service["subdivision"]
        subdiv = Namespace(subdiv)
        if subdiv.direction is not None:
            return subdiv.direction["shortName"]
        else: return subdiv.shortName
    else:
        div = p.subdivision["direction"]
        if div is not None:
            return div["shortName"]
        else: return p.subdivision["shortName"]
        
def get_service_name(p):
    p = Namespace(p)
    if p.service is not None:
        return p.service["name"]
    else:
        return "AUCUN"

In [6]:
def get_employee_bio_data(p):
    emp_data_list = list()
    positions = [requests.get(base_link+links_ns.position.single+str(p)).json()]
    for p in positions:
        emp_data = dict()
        emp_data["position_id"] = p["positionId"]
        emp_data["employee_id"] = p["employee"]["employeeId"]
        emp_data["fullname"] = p["employee"]["lastName"] +" "+ p["employee"]["firstName"].strip() 
        emp_data["matricula"] = p["employee"]["matricule"]
        emp_data["rolename"] = p["role"]["name"]
        emp_data["service"] = get_service_name(p)
        emp_data["direction"] = get_direction_name(p)
        emp_data["email"] = p["employee"]["email"]
        emp_data["contact"] = p["employee"]["contact"]
        emp_data["location"] = p["location"]
        emp_data_list.append(emp_data)
    return emp_data_list[0]

In [7]:
requests.get(base_link+links_ns.position.all_active).url

'http://localhost:8080/api/v1/position/all/active'

In [8]:
get_employee_bio_data(5)

{'position_id': 5,
 'employee_id': 5,
 'fullname': 'BOKOUA Sébastien',
 'matricula': '1281021B',
 'rolename': 'SOUS-DIRECTEUR',
 'service': 'AUCUN',
 'direction': 'DSESP',
 'email': 'sebastien.bokoua@arti.ci',
 'contact': '',
 'location': 'ABIDJAN'}

In [9]:
from datetime import datetime, timedelta

def time_diff(start_time_str, end_time_str="08:10:00"):
    start_time = datetime.strptime(start_time_str, '%H:%M:%S')
    end_time = datetime.strptime(end_time_str, '%H:%M:%S')
    time_delta = end_time - start_time
    time_diff_seconds = int(time_delta.total_seconds())
    return time_diff_seconds

In [15]:
log_data = requests.get(base_link+links_ns.logbook.prange+'2023-03-23/2023-03-23').json()

In [16]:
from itertools import groupby

In [17]:
grouped_data = []
for key, group in groupby(log_data, lambda x: x['position']['positionId']):
    # Create a list of "logbookId" for each "positionId"
    #grouped_data[key] = [x['logbookId'] for x in group]
    for x in group:
        checkIn = x['checkinTime']
        checkOut = x['checkoutTime']
        d = {
        "logbookId":x['logbookId'],
        "positionId":x['position']['positionId'],
        "employeeId":x['position']["employee"]["employeeId"],
        "fullName":x['position']["employee"]["lastName"]+' '+x['position']["employee"]["firstName"],
        "checkIn":checkIn,
        "checkOut":checkOut,
        "logCount":2,
        "isLate": time_diff(checkIn) < 0
    }
    grouped_data.append(d)
# Print the result
print(grouped_data)

[{'logbookId': 880, 'positionId': 1, 'employeeId': 1, 'fullName': 'ANGOUA Guy-Charles', 'checkIn': '00:00:00', 'checkOut': '00:00:00', 'logCount': 2, 'isLate': False}, {'logbookId': 901, 'positionId': 2, 'employeeId': 2, 'fullName': 'ANOH Affanou Lisette', 'checkIn': '00:00:00', 'checkOut': '00:00:00', 'logCount': 2, 'isLate': False}, {'logbookId': 922, 'positionId': 3, 'employeeId': 3, 'fullName': 'BAILLY Eric Théodore', 'checkIn': '09:40:00', 'checkOut': '20:30:00', 'logCount': 2, 'isLate': True}, {'logbookId': 943, 'positionId': 4, 'employeeId': 4, 'fullName': 'BEN Mourad', 'checkIn': '08:03:00', 'checkOut': '18:05:00', 'logCount': 2, 'isLate': False}, {'logbookId': 964, 'positionId': 5, 'employeeId': 5, 'fullName': 'BOKOUA Sébastien', 'checkIn': '00:00:00', 'checkOut': '00:00:00', 'logCount': 2, 'isLate': False}, {'logbookId': 985, 'positionId': 6, 'employeeId': 6, 'fullName': 'CISSE Alassane', 'checkIn': '08:14:00', 'checkOut': '17:32:00', 'logCount': 2, 'isLate': True}, {'logbookId': 1006, 'positionId': 7, 'employeeId': 7, 'fullName': 'COULIBALY Moussa', 'checkIn': '06:00:00', 'checkOut': '17:05:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1027, 'positionId': 8, 'employeeId': 8, 'fullName': 'DEBEY Linda', 'checkIn': '00:00:00', 'checkOut': '00:00:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1048, 'positionId': 10, 'employeeId': 10, 'fullName': 'DJIRE Lamine', 'checkIn': '00:00:00', 'checkOut': '00:00:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1069, 'positionId': 11, 'employeeId': 11, 'fullName': 'ENAN Jean-Jacques', 'checkIn': '08:03:00', 'checkOut': '17:30:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1090, 'positionId': 12, 'employeeId': 12, 'fullName': 'FOFANA Simon', 'checkIn': '08:09:00', 'checkOut': '17:20:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1111, 'positionId': 13, 'employeeId': 13, 'fullName': 'GBAMELE Siméon', 'checkIn': '00:00:00', 'checkOut': '00:00:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1132, 'positionId': 14, 'employeeId': 14, 'fullName': 'GNAGNE Mel Patrick', 'checkIn': '07:49:00', 'checkOut': '18:07:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1153, 'positionId': 15, 'employeeId': 15, 'fullName': 'GRAH Franck', 'checkIn': '06:50:00', 'checkOut': '17:10:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1174, 'positionId': 16, 'employeeId': 16, 'fullName': 'KABLAN Jean Claude', 'checkIn': '07:50:00', 'checkOut': '17:10:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1195, 'positionId': 17, 'employeeId': 17, 'fullName': 'KOSSIKE Kango Séraphin', 'checkIn': '00:00:00', 'checkOut': '00:00:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1216, 'positionId': 18, 'employeeId': 18, 'fullName': 'KOUADIO Edmond', 'checkIn': '07:51:00', 'checkOut': '18:07:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1237, 'positionId': 19, 'employeeId': 19, 'fullName': 'KOUASSI Adrien', 'checkIn': '08:05:00', 'checkOut': '17:46:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1258, 'positionId': 20, 'employeeId': 20, 'fullName': 'KUE Valentin', 'checkIn': '07:45:00', 'checkOut': '00:00:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1279, 'positionId': 21, 'employeeId': 21, 'fullName': 'MANOUAN Nina Epse KONE', 'checkIn': '06:48:00', 'checkOut': '17:13:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1300, 'positionId': 22, 'employeeId': 22, 'fullName': "N'DA Elysée Epse SEMI", 'checkIn': '07:35:00', 'checkOut': '17:10:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1321, 'positionId': 23, 'employeeId': 23, 'fullName': 'NOGBOU Paule', 'checkIn': '08:15:00', 'checkOut': '17:15:00', 'logCount': 2, 'isLate': True}, {'logbookId': 1342, 'positionId': 24, 'employeeId': 24, 'fullName': 'OLOUI Yves', 'checkIn': '08:47:00', 'checkOut': '17:20:00', 'logCount': 2, 'isLate': True}, {'logbookId': 1363, 'positionId': 25, 'employeeId': 25, 'fullName': 'SAMBARE Zakaria', 'checkIn': '00:00:00', 'checkOut': '00:00:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1384, 'positionId': 26, 'employeeId': 26, 'fullName': 'SEYNOU Aîcha', 'checkIn': '08:47:00', 'checkOut': '17:53:00', 'logCount': 2, 'isLate': True}, {'logbookId': 1405, 'positionId': 27, 'employeeId': 27, 'fullName': 'WILSON Honoré Georges', 'checkIn': '07:45:00', 'checkOut': '17:05:00', 'logCount': 2, 'isLate': False}, {'logbookId': 1426, 'positionId': 28, 'employeeId': 28, 'fullName': 'YAO Anyéla Epse ADOU', 'checkIn': '00:00:00', 'checkOut': '00:00:00', 'logCount': 2, 'isLate': False}]

In [19]:
presence = len (grouped_data)
lateCount = len([1 for x in grouped_data if x["isLate"]==True])
logDate = log_data[0]["logDate"]
meta_data = {
    "presence":presence,
    "lateCount":lateCount,
    "logDate":logDate
}
meta_data

{'presence': 27, 'lateCount': 5, 'logDate': '2023-03-23'}

# Late Count

In [53]:
from pandas import json_normalize

In [54]:
log_data = requests.get(base_link+links_ns.logbook.prange+'2023-03-01/2023-03-31').json()

In [57]:
compute_workdays("2023-03-01")

-1443

In [44]:
df = json_normalize(log_data)

In [45]:
#df.columns

In [46]:
#df.head()

In [47]:
df["isLate"] = df["checkinTime"].map(time_diff) < 0

In [48]:
df_sn = df[["logbookId","isLate","position.positionId"]]
df_sn = df_sn.groupby('position.positionId').agg({'isLate': 'sum', 'logbookId': 'count'}).reset_index()

In [49]:
df_sn

    position.positionId  isLate  logbookId
0                     1       3         21
1                     2      14         21
2                     3       5         21
3                     4       1         21
4                     5       1         21
5                     6      11         21
6                     7       0         21
7                     8       3         21
8                    10       0         21
9                    11       4         21
10                   12       6         21
11                   13       0         21
12                   14       0         21
13                   15       1         21
14                   16       0         21
15                   17      12         21
16                   18       0         21
17                   19       0         21
18                   20       0         21
19                   21       0         21
20                   22       9         21
21                   23       4         21
22                   24      18         21
23                   25       0         21
24                   26      10         21
25                   27       0         21
26                   28       4         21

In [ ]:
cols = ["position.positionId","position.employee.lastName","position.employee.firstName","isLate_x","logbookId_x"]
cols_new = ["positionId","lastName","fisrtName","lateCount","presenceCount"]

In [ ]:
df_ns = df_sn.merge(df, on='position.positionId', how="left")[cols].drop_duplicates()

In [ ]:
df_ns.columns = cols_new

In [ ]:
df_ns

,positionId,lastName,fisrtName,lateCount,presenceCount
0,1,ANGOUA,YOBOUATH GUY CHARLES,0,1
1,2,ANOH,AMA LISETTE DESIREE Epse AFFANOU,2,4
5,3,BAILLY,ERIC THEODORE,1,3
8,4,BEN,MOURAD MOHAMED ALY,2,4
12,5,BOKOUA,ZIOGBA SEBASTIEN,2,3
15,6,CISSE,ALASSANE AL MOUSTAPHA,0,1
16,7,COULIBALY,MOUSSA,1,2
18,8,DEBEY,ALLEGUY LINDA CAROLE,0,1
19,10,DJIRE,KELETIGUI LAMINE,0,1
20,11,ENAN,EBLOTCHE JEAN-JACQUES,0,1
21,12,FOFANA,SIMON,1,1
22,13,GBAMELE,KOUASSI SIMEON,0,1
23,14,GNAGNE,MEL PATRICK SERGES,2,2
25,15,GRAH,FRANCK,1,3
28,16,KABLAN,JEAN CLAUDE,1,2
30,17,KOSSIKE,KANGO SERAPHIN,0,1
31,19,KOUASSI,KOUAME ADRIEN,2,2
33,20,KUE,KAMONIAN VALENTIN,1,3
36,21,MANOUAN,THECLE NINA Epse KONE,0,1
37,22,N'DA,NIAMKEY ELYSEE Epse SEMI,0,1
38,23,NOGBOU,ABODJOH PAULE,0,1
39,24,OLOUI,AGANY IBIDON YVES,0,2
41,26,SEYNOU,AICHA,0,1
42,27,WILSON,GEORGES HONORE MENSAH,0,1
43,28,YAO,ANYELA MARIE COLOMBE Epse ADOU,0,2